-# Partial for showing errors in forms.
-#
-# params:
-#  errors [Array<String>] An array of error messages
-#

- unless errors.empty? then
  .form_error_message
    .header=h "Error"
    %ul
    - errors.each do |msg|
      %li=h msg
      %br/

