-local_prefix = "views.solrs.edit"
%h1= t("#{local_prefix}.header")

- databases.each do |db_name, coll_set|
  .db_entry
    =h db_name
    - coll_set.each do |coll_name|
      .coll_entry=h coll_name

%br/

= link_to(t("views.solrs.common.index_link"), solrs_path)

