!!!
%html
  %head
    %title MongoSolrRails
    = stylesheet_link_tag :all
    -# Must make jquery.min load first before rails
    = javascript_include_tag "jquery.min", "rails", "application"
    = csrf_meta_tag

  %body
    = yield

